body {
  background-color: #eaeaea;
}

.form--area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.form--area input[type=text] {
  width: 350px;
  height: 35px;
  padding: 0 10px;
  border-radius: 18px;
  border: solid 1px transparent;
  margin-bottom: 25px;
}
.form--area textarea {
  width: 650px;
  height: 150px;
  border: none;
  border-radius: 6px;
  padding: 10px 10px 30px;
}
.form--area .txt-bottom {
  position: absolute;
  bottom: 0;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
}
.form--area .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.form--area .colors .color-item {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
}
.form--area .colors .color-item.selected:after {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='%23FFF' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  width: 24px;
  height: 24px;
  display: block;
  margin: 3px;
}
.form--area button {
  width: 75px;
  height: 100%;
  border: none;
  background-color: green;
  color: #fff;
  padding: 8px 20px;
  border-radius: 18px;
  cursor: pointer;
}

.note-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  max-width: 670px;
  width: 100%;
  margin: 25px auto;
}
.note-list .note {
  padding: 10px;
  border-radius: 6px;
  color: #FFF;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: calc(50% - 28px);
      flex-basis: calc(50% - 28px);
  max-width: calc(50% - 28px);
}